<h1 class="govuk-heading-l"><%= @page.title %></h1>

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Line</h2>
  <p class="govuk-body"><%= @page.content(:line) %></p>
</div>

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Content</h2>
  <%= @page.content(:text).try(:html_safe) %>
</div>

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Image</h2>
  <% if @page.content(:image).present? %>
    <%= image_tag main_app.url_for(@page.content(:image).variant(resize: "300x100")) %>
  <% end %>
</div>

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Image collection</h2>
  <ul class="govuk-list--bulleted">
    <% @page.content(:image_collection)&.images&.each do |image| %>
      <li>
        <%= image_tag main_app.url_for(image.variant(resize: '300x100')) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Structure</h2>
  <ul class="govuk-list--bulleted">
    <% @page.content(:structure)&.structure_items&.each do |item| %>
      <li>
        <h6 class="govuk-heading-s">Title</h6>
        <p class="govuk-body">
          <%= item.content(:title) %>
        </p>
        <h6 class="govuk-heading-s">Description</h6>
        <%= item.content(:description).try(:html_safe) %>
      </li>
    <% end %>
  </ul>
</div>
